@import 'partials/symbols';


$g-border: 5px solid green;


.footr {
  display: flex;
  
  bottom: 0;
  margin: 0 auto;
  color:red;
  
}


.top {
  display: flex;
  gap: 20px;
}

.top img {
  display: block;
  max-width: 100%;
  
  
}
