#our_offices_image_tiles {
  display: grid;
  grid-template-columns: 1fr;
  background-color: red;
}

.our_offices {
  background-color: red;
}

.page_location {
  background-color: red !important;
}
