@import 'mixins.scss';


.row {
    display: flex;
    width: 100%;
    margin-bottom: 40px;

}

.footer-row {
    display: flex;
    flex-wrap: wrap;
}

footer ul li {
    font-size: .8125rem;
    line-height: 1.375rem;
}

footer {
    background-color: #323544;
    color: #fff;
    padding-top: 20px;
}


.industries, .locations , .services , .about {
    @include nopadlist;
    @include whitelink;
    color:white;
    text-decoration: none;
}

#footrlogo {
    max-width: 100%;
}

#copyright {
    text-align: left;
    background-color: #212330;
    width: 100%;
    color: white;
    & p {
        padding:10px 0;
        margin-top:0;
        font-size: .8125rem;
        & a {
            text-decoration: none;
            color: white;
        }
    }
    
}

// social medias

.socialmedias {
    display: flex;
    flex-wrap: nowrap;
    gap:20px;
    & a {
        text-decoration: none;
    }
}

#facebook, #instagram, #indeed, #twitter {
    background-color: #212330;
    padding:15px;
    font-size: 26px;
    font-weight: 400;
    color:white;
}

#facebook::after {
    content: "\ea90";
}

#fblink:hover {
    #facebook{
        background-color: blue;
    }
}

#indeed::after {
    content: "\eac9";
}

#inlink:hover {
    #indeed {
        background-color: lightblue;
    }
}

#twitter::after {
    content: "\ea96";
}

#twtlink:hover {
    #twitter {
        background-color: cyan;
    }
}

#instagram::after {
    content: "\ea92";
}

#iglink:hover {
    #instagram {
        background-color: palevioletred;
    }
}


// applying the flex and flex wrap once its below 992px wide (the first breakpoint)

@media (max-width: 992px) {
    .row {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 60px;
    }
}


// above 992px styling

@media (min-width : 992px) {
    .footer-row {
        max-width: 100%;
        flex-wrap: nowrap;
}

    .footer-section-1 {
        flex-basis: 20%;
        margin-right: 80px;
}
    .row div {
        flex-basis: 80%;
    }
}

// between 992px and 768px

@media (min-width: 768px) and (max-width:991px) {
    .row {
        width: 100%;
        margin-bottom: 60px;
        & div {
            width: 50%;
            flex-basis: 50%;
            flex-direction: column;
        }
    }
}

// between 480px and 768px

@media (max-width: 767px){
   .row {
    & div {
        width: 100%;
    }
   }
}   

// lower than 480px 

@media (max-width: 480px) {
    .socialmedias {
        width:50%;
        flex-wrap: wrap;
        & p {
            margin-bottom: 0;
            margin-top: 0;
            & a {
                flex-basis: 50%;
            }
        }
    }
}
