
//variables 

$g-border: 5px solid green;
$backgroundgrey: #323544;
$clienttext: 5px solid red;




// top search bar

@mixin centerBtn {
  font-family: 'icomoon';
  color: white;
  background-color: black;    
  display: flex;
  align-items: center;  
  justify-content: center;
  width: 50px; 
  height: 100%;

}


/* footer */

@mixin nopadlist {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

@mixin whitelink {
    a:link { 
        text-decoration: none;
        color:white;
      } 
      a:visited { 
        
        color:white; 
      } 
      a:hover { 
        text-decoration: underline;
        color:white; 
      } 
      a:active { 
        
        color:white; 
      }
}


/* clients */

@mixin clients {
    border: 3px solid $backgroundgrey;
    background-color: $backgroundgrey;
    color: white;
    padding: 10px;
    line-height: 1.5;
}


/* news */

@mixin latestnews($headingcolor){
  padding: 10px;
  background-color: #feffff;
  height: 400px;
  h3 {
    color:$headingcolor;
  }

  a {
    text-decoration: none;
    background-color: $headingcolor;
    border-radius: 2px;
    color:white;
    padding:15px;
  }

}

@mixin grayscale {
  .clients img {
    filter:grayscale(100%)
}

  .clients img:hover {
      filter:none;
  }
}

@mixin center {
  margin-left:auto;
  margin-right:auto;
}

/* our services */

//colors 

$bGrey : #67809f;
$itBlue : #4183d7;
$dmGreen : #2ecc71;
$tcRed : #d64541;
$wdPurple : #926fb1;
$csPink : #f62459;
$dtMaroon : #ce4125;

$bGreyDark : #526781;
$itBlueDark : #286abd;
$dmGreenDark : #25a25a;
$tcRedDark : #bc2c28;
$wdPurpleDark : #79539a;
$csPinkDark : #de093f;
$dtMaroonDark : #a3331d;


@mixin iconcolor ($iconcolor) {
  color: white;
  background-color: $iconcolor;
  padding:8px;
  border: 2px solid $iconcolor;
  border-radius: 50%;  
}

@mixin rmore ($rmore) {
  display: inline-block;
  background-color: $rmore;
  border-radius: 3px;
  color:white;
  padding:6px;
  text-decoration: none;
  
}

@mixin hoverColor ($invert) {
  color:$invert;
  background-color: white;
  border-color: white;
}

@mixin buttons($color) {
  padding: 10px;
  color:white;
  border-radius: 4px;
  border: $color;
  background-color: $color;
}

@mixin contentsizing {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}


//main nav

@mixin appear ($color) {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  background-color: $color;
  position: absolute;
  top:102px;
  left:0;
  padding: 40px;
  z-index: 29;
  font-size: 1rem;
  letter-spacing: .4px;
  line-height: 1.42857143;
  color: white;
  & h1 {
      flex-basis: 100%;
      margin-bottom: 40px;
  }
  & p {
      flex-basis: 33%;
  }
}

