.welcome {
    display: flex;
    margin:auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    background-color: $backgroundgrey;
    max-width: 100%;
    color:white;
    padding:30px 20px 80px 20px;
    position: relative;
}

.bckgrnclr {
    background-color: $backgroundgrey;

}

.stars::after {
    content: '\2605\2605\2605\2605\2605';
    color:gold;
    font-size: 3em;
    font-family: 'icomoon';
}

.wlcmnet, .whtclnts {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 50%;
    padding-left:10px;
    padding-right: 10px;
    width: calc(50% -20px);
    & h2 {
        flex-basis: 100%;
        font-size: 2rem;
    }
}

.wlcmnet a {
    margin-right: 10px;
}


.source {
    color: #a3a8ac;
    flex-basis: 100%;
}

.slink {
    text-decoration: none;
    color:white;
    display: flex;
    flex-wrap: wrap;
}

.AboutLink {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
}

//styling all links in section
.wlink {
    text-decoration: none;
    color:white;
    align-content: center;
    background-color: #272936;
    padding:10px 30px;
    font-size: 20px;
    border-radius: 3px;
    letter-spacing: .4px;
    &::after {
        content: "\ea3c";
        font-family: 'icomoon';
    }
}

.welcomelinks {
    display: flex;
    align-items: end;
}

.lineh {
    line-height: 1.9rem;
}

//coloring buttons
#trustpilot {
    background-color: #00b67b;
}

#googlereviews {
    background-color:#166af4;
}

//darker when hovered
.wlink:hover{
    filter: brightness(85%);
}

@media (max-width: 1260px) {
    .AboutLink {
        flex-wrap: wrap;
        justify-content: flex-start;
        flex-basis: 100%;
        gap:10px;
    }
    .wlink {
        flex-wrap: wrap;
        margin-bottom: 10px;
        flex-basis: 75%;
        & a {
            width: 300px;
        }
    }
}

@media (max-width:992px) {
    .wlcmnet, .whtclnts {
        flex-basis: 100%;
    }
    .wlink {
        flex-basis: 45%;
    }
}

@media (max-width:556px) {
    .wlink {
        flex-basis: 100%;
    }
}