.clients {
    max-width: 100%;
    padding: 40px 0px;
    align-items: center;
    & img {
        height: 70px;
        max-width: 200px;
        width: 100%;
        padding:0px 30px;
        object-fit: contain;
    }
}

.ClientsImgWrapper > div{
  display: none;
  overflow: visible;
}

.ClientsImgWrapper:hover {
  & > div {
    display: block;
    overflow: visible;
    padding: 15px;
    background-color: #333645;
    color:white;
    transform: translateX(-65px);
    &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        border-left: 24px solid transparent;
        border-right: 24px solid transparent;
        border-top: 24px solid #323544;
}
  }
}

.clientsPopup {
  position: absolute;
  bottom: 130%;
  overflow: visible;
  & p, h3, a {
    text-align: center;
    overflow: visible;
    width: 300px;
    max-width: 100%;
  }
  & p {
    font-size: 0.7rem;
    padding: 10px 0;
    & a {
      text-decoration: none;
      color:white;
      padding: 10px;
      border-radius: 4px;
    }
  }
  & h3 {
    margin: 0;
  }
}


#girlguidinganglia {
    background-color: #2a6ec6;
}

#gdst, #sweetzy, #searles {
  background-color: #26ab5f;
}

#ashcroft, #onetraveller {
  background-color: #926fb1;
}

#swans {
  background-color: #f7b322;
}
