.clients {
    display: grid;
    grid-auto-flow: row;
    max-height: 100px;
    padding:10px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap:5px;
    padding: 7px;
    
}

.clients img {
    filter:grayscale(100%)
}

.clients img:hover {
    filter:none;
}