
/* grayscale images */

.clients img {
    filter:grayscale(100%)
}

.clients img:hover {
    filter:none;
}

/* images raise up */

@mixin raise {
    &:hover {
        top:-10px;
        transition: .5s ease;
    }
}