@import 'mixins.scss';




.footer-menu {
    flex: 20%;
    padding: 20px;
    
    
}

footer {
    background-color: #323544;
    color: #fff;
    
    
    

    .footer-row{
        display: flex;
        flex-wrap: nowrap;
        @include center;
        
        .footer-menu {
            flex: 75%;
            margin-bottom: 30px;

            @media (min-width: 768px){
                flex: 50%;
            }

            @media (min-width: 992px) {
                flex: 20%;
                footer {
                    margin-bottom: 0;
                }
            }

            @media (min-width: 1260px){
                margin-bottom: 40px;
            }

            h4 {
                text-transform: uppercase;
                font-size: 1rem;
                margin-bottom: 26px;
            }
        }
    }

    
}


.industries , li , .locations , .services , .about {
    @include nopadlist;
    @include whitelink;
    color:white;
    text-decoration: none;
}

#footrlogo {
    max-width: 100%;
    padding-top: 40px;
    gap:20px;
}

#copyright {
    text-align: center;
    max-width:100%;
    background-color: #212330;
    margin:0 auto;
    padding: 5px;
    padding-left: 100px;
    
}

// social medias

.socialmedias {
    display: flex;
    flex-wrap: nowrap;
    gap:20px;
    & a {
        text-decoration: none;
    }
}

#facebook, #instagram, #indeed, #twitter {
    background-color: #212330;
    padding:20px;
    font-size: 1.9rem;
    color:white;
}

#facebook::after {
    content: "\ea90";
}

#fblink:hover {
    #facebook{
        background-color: blue;
    }
}

#indeed::after {
    content: "\eac9";
}

#inlink:hover {
    #indeed {
        background-color: lightblue;
    }
}

#twitter::after {
    content: "\ea96";
}

#twtlink:hover {
    #twitter {
        background-color: cyan;
    }
}

#instagram::after {
    content: "\ea92";
}

#iglink:hover {
    #instagram {
        background-color: palevioletred;
    }
}

@media (max-width: 992px) {
    .container div {
        flex-wrap: wrap;
        text-align: center;
        & .footer-menu {
            justify-content: center;
            & img {
                justify-content: center;
                padding: 0;
                margin:0;
            }
        }
        & .socialmedias {
            justify-content: center ;
        }
    }
}