@import 'mixins.scss';


.footer-row {
    display: flex;
    flex-wrap: wrap;
}

footer ul li {
    font-size: .8125rem;
}

footer {
    background-color: #323544;
    color: #fff;
    padding-top: 20px;
}


.industries , li , .locations , .services , .about {
    @include nopadlist;
    @include whitelink;
    color:white;
    text-decoration: none;
}

#footrlogo {
    max-width: 100%;
}

#copyright {
    text-align: left;
    background-color: #212330;
    width: 100%;
    color: white;
    & p {
        padding:10px 0;
        margin-top:0;
        font-size: .8125rem;
        & a {
            text-decoration: none;
            color: white;
        }
    }
    
}

// social medias

.socialmedias {
    display: flex;
    flex-wrap: nowrap;
    gap:20px;
    & a {
        text-decoration: none;
    }
}

#facebook, #instagram, #indeed, #twitter {
    background-color: #212330;
    padding:20px;
    font-size: 20px;
    color:white;
}

#facebook::after {
    content: "\ea90";
}

#fblink:hover {
    #facebook{
        background-color: blue;
    }
}

#indeed::after {
    content: "\eac9";
}

#inlink:hover {
    #indeed {
        background-color: lightblue;
    }
}

#twitter::after {
    content: "\ea96";
}

#twtlink:hover {
    #twitter {
        background-color: cyan;
    }
}

#instagram::after {
    content: "\ea92";
}

#iglink:hover {
    #instagram {
        background-color: palevioletred;
    }
}

.footer-row {
    max-width: 100%;
}

.footer-section-1 {
    flex-basis: 40%;
}

.footer-section-2 {
    flex-basis: 15%;
    margin-bottom: 40px;
} 


@media (max-width: 1260px) {
    .footer-row {
        flex-wrap: wrap;
    }

    .footer-section-1 {
        flex-basis: 100%;
    }

    .footer-section-2 {
        flex-grow: 1;
        max-width: 25%;
    }
}

@media (max-width: 992px) {
    .footer-section-2 {
        flex-basis: 50%;
        flex-wrap: wrap;
    } 
}

@media (max-width: 480px) {
    .socialmedias {
        flex-wrap: wrap;
        max-width: 55%;
        justify-content: flex-start;
        & p {
            margin-top: 0;
            margin-bottom: 0;
            padding: 0;
            max-width: 100%;
        } 
        
    }
    #facebook, #indeed, #twitter, #instagram {
        padding: 12px 20px 16px;
    }
    
}