

.latestnews {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    grid-gap:10px;
    padding:100px;
    margin:auto;
    max-width: 100px;
}

.casestudy {
    @include latestnews(red);
}

.team {
    @include latestnews(purple);
}

.nettmatterstechnician {
    @include latestnews(blue);
}

.roys, .mnotables, .hiring {
    border:1px dotted grey;
}

.seperator {
    border-bottom: 1px dotted grey;
    margin-top:50px;
}