

.latestnews {
    display:grid;
    grid-template-columns:repeat(auto-fit, 370px);
    justify-content: center;
    grid-gap:10px;
    padding-bottom:50px;
    padding-top:10px;
    margin:auto;
    max-width:100%;
}

.casestudy {
    @include latestnews(red);
}

.team {
    @include latestnews(purple);
}

.nettmatterstechnician {
    @include latestnews(blue);
}

.roys, .mnotables, .hiring {
    border:1px dotted grey;
}

.seperator {
    border-bottom: 1px dotted grey;
    margin-top:50px;
}

.details {
    margin-top: 50px;
    margin-left: 25%;
    align-items: center;
}

.details::before {
    content: '';
    display: inline-block;
    background-image: url(../img/netmatters-logo.png);
    background-size: contain; 
    width: 20px;
    height: 20px;
}

.newstitle {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 1200px;
    margin-left:auto;
    margin-right:auto;
    max-width: 66%;
    
}

