@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    margin: 0;
    min-height: 100vh;
    height: 100vh;
    padding: 0;
}

* {
box-sizing: border-box;
font-family: 'Poppins', sans-serif;

}

.container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-grow: 1;

    

    

    @media (min-width: 768px) {
        .container {
            width: 730px;
        }
    }

    @media (min-width: 992px) {
        .container {
            width: 970px;
        }
    }

    @media (min-width: 1260px) {
        .container {
            width: 1200px;
        }
    }   

}

.icomoon {
    font-family: 'icomoon', sans-serif;
}


// manage consent and contact 

.mclink {
    display: inline-block;
    position: fixed;
    margin:0;
    padding:4px;
    bottom: 0;
    left: 0;
    color:white;
    font-size: small;
    background-color: #999aa2;
    border-radius: 0 3px 0 0 ;
    text-decoration: none;
}

.mclink {
    text-decoration: none;
    color:white
}

.ci::after {
    content: "\e96b";
    font-family: 'icomoon';
    position: fixed;
    margin:0;
    color:white;
    width: 30px;
    text-align: center;
    height: 30px;
    bottom:30px;
    right:30px;
    font-size: 1.5em;
    background-color:#666;
    padding:6px;
    border-radius:100%;
}

// content wrapper 

@media (max-width: 767px) {
    .contentwrap {
    @include contentsizing;
    }
}

@media (min-width: 768px) {
    .contentwrap {
        max-width: 750px;
        width:100%;
        @include contentsizing;
    }
}

@media (min-width: 992px) {
    .contentwrap {
        max-width: 970px;
        width: 100%;
        @include contentsizing;
    }
}


@media (min-width: 1260px) {
    .contentwrap {
        max-width: 1200px;
        width: 100%;
        @include contentsizing;
}
}


//symbols 

.handshake::before {
    content: '\f2b5';
}

.cloud::before {
    content: '\f0c2';
}

.briefcase::before {
    content: '\f0b1';
}

.integration::before {
    content: '\f074';
}

.phone::before {
    content: '\f10b';
}

.folder::before {
    content: '\f07c';
}

.sharepoint::before {
    content: '\f045';
}

.computer::before {
    content: '\f109'
}

.download::before {
    content: '\f019'
}

.group::before {
    content: '\f0c0';
}

.clouddownload::before {
    content: '\f0ed';
}

.headphones::before {
    content: '\f025'
}

.backup::before {
    content: '\f1c6';
}

.glass::before {
    content: '\e994';
}

.money::before {
    content: '\f0d6';
}

.stats::before {
    content: '\f201';
}

.mail::before {
    content: '\f003';
}

.pen::before {
    content: '\f040';
}

.ticket::before {
    content: '\e941';
}

.telephone::before {
    content: '\f095';
}

.telephonesquare::before {
    content: '\f098';
}

.ringingphone::before {
    content: '\f2a0';
}

.timer::before {
    content: '\f017';
}

.trolley::before {
    content: '\f291';
}

.monitor::before {
    content: '\e956';
}

.megaphone::before {
    content: '\f0a1';
}

.time::before {
    content: '\e959';
}

.beaker::before {
    content: '\e9bb';
}

.lock::before {
    content: '\f023';
}

.shield::before {
    content: '\1f32c';
}

.question::before {
    content: '\f128';
}

.hat::before {
    content: '\f19d';
}

.file::before {
    content: '\e933';
}

.code::before {
    content: '\f1c9';
}

.globe::before {
    content: '\e9dc';
}