@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    margin: 0;
    min-height: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0;
}

* {
box-sizing: border-box;
font-family: 'Poppins', sans-serif;

}

.container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-grow: 1;
    

    

    @media (min-width: 768px) {
        .container {
            width: 730px;
        }
    }

    @media (min-width: 992px) {
        .container {
            width: 970px;
        }
    }

    @media (min-width: 1260px) {
        .container {
            width: 1200px;
        }
    }   

}

.icomoon {
    font-family: 'icomoon', sans-serif;
}


// manage consent and contact 

#mc {
    display: inline-block;
    position: fixed;
    margin:0;
    padding:4px;
    bottom: 0;
    left: 0;
    color:white;
    font-size: small;
    background-color: #999aa2;
    border-radius: 0 3px 0 0 ;
    text-decoration: none;
}

.mclink {
    text-decoration: none;
    color:white
}

.ci::after {
    content: "\e96b";
    font-family: 'icomoon';
    position: fixed;
    margin:0;
    color:white;
    width: 30px;
    text-align: center;
    height: 30px;
    bottom:30px;
    right:30px;
    font-size: 1.5em;
    background-color:#666;
    padding:6px;
    border-radius:100%;
}