#mainnav {
    background-color: #333645;

}

#navcontainer {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    height:auto;
    background-color: #333645;
    & div {
        text-align: center;
        flex-basis: 20%;
        & a {
            text-decoration: none;
            color:white;
        }
    }
}

//width and paddign for tiles
.navSquare {
    padding: 10px;
    max-width: 100%;
}


//hidden until relative square hovered
.hovered_cd, .hovered_itsupp, .hovered_dm, .hovered_telecoms, .hovered_webdesign, .hovered_cybersecurity, .hovered_developercourse {
    display: none;
    min-width: 100%;
}

//setting the font styling for the icomoon first
.cd_square, .itsupp_square, .dm_square, .telecoms_square, .webdesign_square, .cybersecurity_square, .developercourse_square {
    font-family: 'icomoon';
    font-size: 1.438rem;
    padding-bottom: 10px;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    position: relative;
}

//text in the tiles
.lightpoppins {
    font-size: .625rem;
    padding-bottom: 1px;
    letter-spacing: .4px;
    margin: 0;
}

.heavypoppins {
    font-size: 1rem;
    padding-bottom: 0;
    margin: 0;
}


//the triangles
.cd_square::after, 
.itsupp_square::after, 
.dm_square::after, 
.telecoms_square::after, 
.webdesign_square::after, 
.cybersecurity_square::after, 
.developercourse_square::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-left: 83.665px solid transparent;
    border-right: 83.665px solid transparent;
    z-index: 30;
    border-top: 48px solid transparent; // default hidden
}


// THE TILES

// consultancy & development
.cd_square::before {
    content: '\e957';
    color:$bGrey;
}

#cd-navTile:hover {
    background-color: $bGrey;
    .cd_square::before {
        color:white;
    }
    .hovered_cd {
        @include appear($bGreyDark);
    }
}

//making triangle appear
#cd-navTile:hover .cd_square::after {
    border-top-color: $bGrey;
}


// it support 
.itsupp_square::before {
    content: '\e956';
    color: $itBlue;
}

#itsupp-navTile:hover {
    background-color: $itBlue;
    .itsupp_square::before {
        color:white;
    }
    .hovered_itsupp {
        @include appear($itBlueDark);
        @include shift(1);
    }
}

//making triangle appear
#itsupp-navTile:hover .itsupp_square::after {
    border-top-color: $itBlue;
}



//digital marketing 
.dm_square::before {
    content: '\e99d';
    color:$dmGreen;
}

#dm-navTile:hover {
    background-color: $dmGreen;
    .dm_square::before {
        color:white;
    }
    .hovered_dm {
        @include appear($dmGreenDark);
        @include shift(2);
    }
}

//making triangle appear
#dm-navTile:hover .dm_square::after {
    border-top-color: $dmGreen;
}


//telecoms services 
.telecoms_square::before {
    content: '\e94c';
    color: $tcRed;
}

#telecoms-navTile:hover {
    background-color: $tcRed;
    .telecoms_square::before {
        color:white;
    }
    .hovered_telecoms {
        @include appear($tcRedDark);
        @include shift(3);
    }
}

//making triangle appear
#telecoms-navTile:hover .telecoms_square::after {
    border-top-color: $tcRed;
}


//web design
.webdesign_square::before {
    content: '\ea80';
    color: $wdPurple;
}

#webdesign-navTile:hover {
    background-color: $wdPurple;
    .webdesign_square::before {
        color:white;
    }
    .hovered_webdesign {
        @include appear($wdPurpleDark);
        @include shift(4);
    }
}

//making triangle appear
#webdesign-navTile:hover .webdesign_square::after {
    border-top-color: $wdPurple;
}


//cyber security 
.cybersecurity_square::before {
    content:'\e9b4';
    color: $csPink;
}

#cybersecurity-navTile:hover {
    background-color: $csPink;
    .cybersecurity_square::before {
        color:white;
    }
    .hovered_cybersecurity {
        @include appear($csPinkDark);
        @include shift(5);
    }
}

//making triangle appear
#cybersecurity-navTile:hover .cybersecurity_square::after {
    border-top-color: $csPink;
}


//developer course
.developercourse_square::before {
    content:'\e921';
    color: $dtMaroon;
}

#developercourse-navTile:hover {
    background-color: $dtMaroon;
    .developercourse_square::before {
        color:white;
    }
    .hovered_developercourse {
        @include appear($dtMaroonDark);
        @include shift(6);
    }
}

//making triangle appear
#developercourse-navTile:hover .developercourse_square::after {
    border-top-color: $dtMaroon;
}

.fullwidth-bg {
    width: 100%;
}