@import '../partials/variables';



/* footer */

@mixin nopadlist {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

@mixin whitelink {
    a:link { 
        text-decoration: none;
        color:white;
      } 
      a:visited { 
        
        color:white; 
      } 
      a:hover { 
        text-decoration: underline;
        color:white; 
      } 
      a:active { 
        
        color:white; 
      }
}


/* clients */

@mixin clients {
    border: 3px solid $backgroundgrey;
    background-color: $backgroundgrey;
    color: white;
    padding: 10px;
    line-height: 1.5;
}

@mixin clientlink {
    border-radius: 3px;
    padding: 10px;
    text-decoration: none;
    color: white;
}

/* news */

@mixin latestnews($headingcolor){
  padding: 10px;
  background-color: #feffff;
  height: 400px;
  h3 {
    color:$headingcolor;
  }

  a {
    text-decoration: none;
    background-color: $headingcolor;
    border-radius: 2px;
    color:white;
    padding:15px;
  }

}

@mixin grayscale {
  .clients img {
    filter:grayscale(100%)
}

  .clients img:hover {
      filter:none;
  }
}

@mixin center {
  margin-left:auto;
  margin-right:auto;
}