
//variables 

$g-border: 5px solid green;
$backgroundgrey: #323544;
$clienttext: 5px solid red;

/* footer */

@mixin nopadlist {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

@mixin whitelink {
    a:link { 
        text-decoration: none;
        color:white;
      } 
      a:visited { 
        
        color:white; 
      } 
      a:hover { 
        text-decoration: underline;
        color:white; 
      } 
      a:active { 
        
        color:white; 
      }
}


/* clients */

@mixin clients {
    border: 3px solid $backgroundgrey;
    background-color: $backgroundgrey;
    color: white;
    padding: 10px;
    line-height: 1.5;
}


/* news */

@mixin latestnews($headingcolor){
  padding: 10px;
  background-color: #feffff;
  height: 400px;
  h3 {
    color:$headingcolor;
  }

  a {
    text-decoration: none;
    background-color: $headingcolor;
    border-radius: 2px;
    color:white;
    padding:15px;
  }

}

@mixin grayscale {
  .clients img {
    filter:grayscale(100%)
}

  .clients img:hover {
      filter:none;
  }
}

@mixin center {
  margin-left:auto;
  margin-right:auto;
}

/* our services */

//colors 

$bGrey : #67809f;
$itBlue : #4183d7;
$dmGreen : #2ecc71;
$tcRed : #d64541;
$wdPurple : #926fb1;
$csPink : #f62459;
$dtMaroon : #ce4125;


@mixin iconcolor ($iconcolor) {
  color: white;
  background-color: $iconcolor;
  padding:8px;
  border: 2px solid $iconcolor;
  border-radius: 50%;  
}

@mixin rmore ($rmore) {
  display: inline-block;
  background-color: $rmore;
  border-radius: 3px;
  color:white;
  padding:6px;
  text-decoration: none;
  
}

@mixin hoverColor ($invert) {
  color:$invert;
  background-color: white;
  border-color: white;
}

// nav popups 


@mixin popup {
  max-width: 1200px;        
  @include center;        
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
  font-size: 0.78rem;
  text-align: left;
  padding: 20px;
}

@mixin visible {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  z-index: 10;
}

@mixin contentsizing {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}