.servicesL {
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-content: center;
    gap:20px;
    width: 100%;
}

.servicesS {
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap:20px;
    width: 100%;
}


.bespoke, .ITsup, .digitalmarketing, .telecoms, .webdesign, .cybersecurity, .developertraining {
    padding: 20px;
    background-color: white;
    border: 1px grey dotted;
    border-radius: 15px;
    box-shadow: 0 3px 35px rgba(0,0,0,.1);
    width: 100%;
    height: 300px;
    position: relative;
    top: 0;
   @include raise;
   & p {
    font-size: .8125rem;
    line-height: 1.375rem;
    font-weight: 400;
    color: #333645;
    letter-spacing: .4px;
   }
   & h3 {
    font-weight: 400;
   }
}

.introservices h1 {
    font-weight: 400;
    font-size: 2.7rem;
}

.ourservices {
    text-align: center;
    padding:20px 0 20px 0;
}

.servicesL, .servicesS {
    margin:20px;
}

@media (max-width:990px){
    .servicesL, .servicesS {
        grid-template-columns: 1fr;
        width: 100%;
        @include center;
    }
}

@media (min-width:990px){
    .servicesL {
        grid-template-columns: 1fr;
        width: 100%;
        @include center;
    }
    .servicesS {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        width: 100%;
        @include center;
    }
}

@media (min-width:1260px) {
    .servicesL {
        grid-template-columns: 1fr 1fr 1fr;
        width:100%;
    }
    .servicesS {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: 100%;
    }

    .ourservices {
        margin-left:20%;
        margin-right:20%;
    }
}

.icomoon {
    font-family: 'icomoon';
    font-weight: normal;
    font-style: normal;
    font-size: 2rem;
}

// bespoke software

#computer::before {
    content: "\e957";
    @include iconcolor($bGrey);
}

.bsrmore {
    @include rmore(#f7b322);
}

.bespoke:hover {
    background-color: $bGrey;
    .bsrmore {
        color:#67809f;
        background-color: white;
    }
    #computer::before {
        @include hoverColor($bGrey);
    }
    
}

// it support 

#supit::before {
    content: "\e956";
    @include iconcolor($itBlue);
}

.itrmore {
    @include rmore($itBlue);
}

.ITsup:hover {
    background-color: $itBlue;
    .itrmore {
        color: $itBlue;
        background-color: white;
    }
    #supit::before {
        @include hoverColor($itBlue);
    }
    
}

// digital marketing

#marketing::before {
    content:  "\e99d";
    @include iconcolor($dmGreen);
}

.dgrmore {
    @include rmore($dmGreen);
}

.digitalmarketing:hover {
    background-color: $dmGreen;
    .dgrmore {
        background-color: white;
        color: $dmGreen;
    }

    #marketing::before {
        @include hoverColor($dmGreen)
    }
}

// telecoms services

#telecomservice::before {
    content: "\e942";
    @include iconcolor($tcRed);
}

.tsrmore {
    @include rmore($tcRed);
}

.telecoms:hover {
    background-color: $tcRed;
    .tsrmore {
        background-color: white;
        color:$tcRed;
    }
    #telecomservice::before {
        @include hoverColor($tcRed)
    }
}

// web design

#wd::before {
    content: "\ea80";
    @include iconcolor($wdPurple);
}

.wdrmore {
    @include rmore($wdPurple);
}

.webdesign:hover {
    background-color: $wdPurple;
    .wdrmore {
        background-color: white;
        color:$wdPurple;
    }
    #wd::before {
        @include hoverColor($wdPurple)
    }
}

// cyber security

#security::before {
    content: "\e9b4";
    @include iconcolor($csPink);
}

.csrmore {
    @include rmore($csPink);
}

.cybersecurity:hover {
    background-color: $csPink;
    .csrmore {
        color: $csPink;
        background-color: white;
    }
    #security::before {
        @include hoverColor($csPink)
    }
}

// developer training

#training::before {
    content: "\e921";
    @include iconcolor($dtMaroon);
}

.dtrmore {
    @include rmore($dtMaroon);
}

.developertraining:hover {
    background-color:$dtMaroon;
    .dtrmore {
        color:$dtMaroon;
        background-color: white;
    }
    #training::before {
        @include hoverColor($dtMaroon)
    }
}

// intro

.introservices {
display: grid;
grid-template-columns: auto 1fr auto;
grid-template-rows: auto;
align-items: center;
padding: 10px 10px;
}

.blankspace2 {
width: 100%;
display: inline-block;
height: auto;
}

#viewwork {
    text-decoration: none;
    color:black;
    &::after {
        font-family: 'icomoon';
        content: "\ea3c";

    }
    &:hover {
        text-decoration: underline;
    }
}


.serviceLink {
    position: absolute;
    bottom:  10%;
    left:50%;
    transform: translateX(-50%);
}

@media (max-width:1260px) {
    .servicesL {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width:992px) {
    .servicesS {
        grid-template-columns: 1fr 1fr;
    }
    .digitalmarketing br {
        display: none;
    }
    .serviceLink {
        bottom:2%;
    }
}

.mobileViewAll {
    display: none;
}

@media (max-width:768px) {
    .servicesL, .servicesS {
        grid-template-columns: 1fr;
    }
    .introservices {
        display: none;
    }
    .mobileViewAll {
        display: block;
        & a {
            text-decoration: none;
            color:black;
        }
        &::after {
            content: '\ea3c';
            font-family: 'icomoon';
        }
    }
}