#mainwrap {
  z-index: 50;
  transform: translateX(0);
  transition: transform 0.3s ease;
}

//will move the menu with
#mainwrap.MenuOpen {
  transform: translateX(-350px);
}

#popout-menu {
  position: fixed;
  z-index:200;
  top: 0;
  right:0;
  transform: translateX(350px);
  transition: transform 0.3s ease;
  color:white;
  background-color: #333645;
  width: 350px;
  height: 100vh;
  overflow-y: auto;
  h1 {
    margin: 0;
  }
  & ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  & li {
    font-size: .875rem;
    background-color: rgba(0,0,0,.25);
    line-height: 1.5;
  }
  & a {
    text-decoration: none;
    color:white;
    border-top: 1px solid hsla(0,0%,100%,.05);
  }

}

//adding the padding to the desktop list, not the mobile lists
.popout-services, .popout-ourwork, .popout-ourknowledge, .popout-training, .popout-ourcompany, .popout-contactus {
  & li {  
    padding: 15px 20px;
    &::before {
      font-family: 'icomoon';
      content: '\ea32';
      font-size: 0.5rem;
      padding-right: 10px;
    }
  }
}

#popout-menu.open {
  transform: translateX(0);
}

.popout-section-header {
  padding: 20px;
  list-style: none;
  font-size: 1rem;
}


.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body.noScroll {
  overflow: hidden;
}


//mobile menu 


.popout-mobile {
  padding: 21px;
  display: flex;
  flex-direction: column;
  text-align: center;
  & a {
    display: block;
    padding: 15px;
  }
}

#mobile-header-contact {
  outline: 1px solid rgba(0,0,0,.25);
  border: 1px solid hsla(0,0%,100%,.1);
}



.mobile-header {
  display: flex !important;
  flex-direction: column;
  margin-bottom:20px;
  margin: 30px 0;
  outline: 1px solid rgba(0,0,0,.25);
  border: 1px solid hsla(0,0%,100%,.1);
}



#popout-menu .popout-mobile li:has(.mobile-header) {
  background-color: transparent;
  border-top: none;
}

.popout-mobile {
  display: none;
}

@media (max-width:992px) {
  .popout-mobile {
    display: block;
  }

  #popout-menu {
    max-width: 275px;
  }
}