//the container
.top-row {
    display: flex;
    flex-direction: row;
    padding: 20px 0;
    justify-content: space-between;
    align-items: center;
    & div {
        display: flex;
    }
}


//setting height of stuff inside container
.logonetmatters {
    height: 64px;
    width: 370px;
}

.topnavBtns a {
    height: 56px;
}

//styling for the buttons
.topnavBtns {
    & a {
        display: flex;
        align-items: center;
        margin-right: 20px;
        text-decoration: none;
        color: white;
        font-family: 'icomoon';
    }
    & p {
        padding: 5px 15px;
    }
    & #supportlink {
        background-color: #2a6ec6;
        &::before {
            content: '\eb07';
        }
    }
    & #contactlink {
        background-color: #84858f;
        &::before {
            content: '\e94f';    
        }
    }

    #contactlink::before, #supportlink::before {
        padding-left: 10px;
        line-height: 45px;
        font-size: 1.438rem;
    }
}


.search {
    display: flex;
    gap:20px;
    height: 100%;  
}

#magnifyGlass::after {
    content: '\e986';
    @include centerBtn;
    font-size: 23px;
    line-height: 1;
    margin-right: 15px;
    color: white;
    background-color:#7e808a;
}

#burgermenu::after {
    content: '\e9bd';
    @include centerBtn;
    line-height: 46px;
    font-size: 2rem;
    color: white;
    background-color:#191a22;
}

