@import 'effects.scss';

#protected {
    padding-bottom: 25px;
}

#fom {
    display: inline-block;
    font-family: 'icomoon';
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 20px;
    border-radius: 5px;
}

#imgcover {
    background-image: url('../img/cyber.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.4);
    background-position: center;
    width: 100%;
    height: 500px;
    position: relative;
}

.dots::after {
    content: "\ea55\ea54\ea54\ea54\ea54"; ;
    font-family: 'icomoon';
    color:black;
    gap:10px;
    display: inline-block;
    position: absolute;
    left:50%;
    bottom:10%;
    letter-spacing: 1.2rem;
    transform: translate(-50%);
}


#cybertxt {
    position: relative;
    left:-10%;
    width: 50%;
    @include center;
    padding: 50px;  
    color: white;  
}

#fom::after {
    content: "\ea3c";
}

.changingslides {
    height: auto;
    z-index:1;
}

@media (max-width:992px) {
    #cybertxt {
        text-align: center;
        margin:auto;
        left:0;
        right:0;
    }
}